{% extends "base_sign_out.html" %}

{% block content %}
<div id="app">
  <div class="card-wrapper">
    <div class="card">
      <h1 class="center">Vehicle Tracking</h1>
      <p>Faites le suivi de vos entretiens de véhicules</p>
    </div>
    <div class="card">
      <p>Ce site est conçu pour simplifier le suivi et l'enregistrement de divers aspects de l'entretien, vous aidant à rester organisé et proactif dans l'entretien de votre flotte.</p>
    </div>
    <div>
      <img src="../static/images/home.png" alt="">
    </div>
  </div>
</div>
{% endblock %}
