.center {
  text-align: center;
  margin-bottom: 30px;
}

.card-wrapper {
  margin: 0 auto;
  padding: 90px 30px;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
}

.card {
  margin: 0 30px 20px;
  padding: 20px 40px;
  width: 460px;
  box-shadow: 0 8px 26px -4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background: var(--primary-background-color);
  text-align: center;
}

.field {
  margin: 0 0 24px;
  padding: 11px 16px 9px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 26px;
  color: var(--input-text);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  display: block;
  background: var(--primary-background-color);
  transition: border-color 0.15s ease;
}

.field:focus {
  border-color: var(--input-focus);
  outline: none;
}

.fieldPassword {
  padding: 11px 16px 9px;
  box-sizing: border-box;
  color: var(--input-text);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  background: var(--primary-background-color);
}

.error {
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: var(--error-color);
}

.success {
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: var(--success-color);
}

.error--hidden {
  display: none;
}

/* Buttons */
.btn {
  margin: 20px;
  padding: 11px 30px 10px;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  text-decoration: none;
  color: var(--primary-background-color);
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  display: inline-block;
  background: var(--link-color);
  transition: color 0.15s ease, background-color 0.15s ease;
}

.btn-delete,
.btn-search,
.btn-add-tracking,
.btn-list-trackings,
.btn-show-tracking {
  background-size: cover; /* ou 'contain' en fonction de votre besoin */
  margin: 15px;
  border: none; /* Supprime la bordure du bouton */
  background-color: transparent;
  text-align: center; /* Centre le texte à l'intérieur du bouton */
  font-size: 16px; /* Taille de la police */
  cursor: pointer; /* Curseur de la souris en main */
}
.btn-delete {
  background-image: url("../images/btn-delete.png");
  width: 25px; /* Personnalisez la largeur */
  height: 25px; /* Personnalisez la hauteur */
  border-radius: 22px;
}

.btn-search {
  background-image: url("../images/btn-search.png");
  width: 80px; /* Personnalisez la largeur */
  height: 80px; /* Personnalisez la hauteur */
  /* border-radius: 22px; */
}

.btn-add-tracking {
  background-image: url("../images/btn-add-tracking.png");
  width: 50px; /* Personnalisez la largeur */
  height: 50px; /* Personnalisez la hauteur */
  /* border-radius: 12px; */
}

.btn-list-trackings {
  background-image: url("../images/btn-list-trackings.png");
  width: 50px; /* Personnalisez la largeur */
  height: 50px; /* Personnalisez la hauteur */
  /* border-radius: 12px; */
}

.btn-show-tracking {
  background-image: url("../images/btn-show-tracking.png");
  width: 50px; /* Personnalisez la largeur */
  height: 50px; /* Personnalisez la hauteur */
  /* border-radius: 12px; */
}

.btn:hover .btn-delete:hover {
  background: #1976d2;
}

.container {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1.4fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "label-date input-date ."
    "label-mileage input-mileage ."
    "label-tires area-tires-AV area-tires-AR"
    "label-brake-pads area-brake-pads-AV area-brake-pads-AR"
    "label-brake-disks area-brake-disks-AV area-brake-disks-AR"
    "label-oil-change area-oil-change ."
    "label-oil-filter area-oil-filter ."
    "label-air-filter area-air-filter ."
    "label-fuel-filter area-fuel-filter ."
    "label-cabin-filter area-cabin-filter .";
  align-items: center;
  text-align: left;
}

.container input {
  margin-right: 10px;
}

.label-date {
  grid-area: label-date;
}

.input-date {
  grid-area: input-date;
}

.label-mileage {
  grid-area: label-mileage;
}

.input-mileage {
  grid-area: input-mileage;
}

.label-tires {
  grid-area: label-tires;
}

.area-tires-AV {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "label-tire-AVG input-tire-AVG label-tire-AVD input-tire-AVD"
    "input-tires-AV input-tires-AV input-tires-AV input-tires-AV";
  grid-area: area-tires-AV;
}

.label-tire-AVG {
  grid-area: label-tire-AVG;
}

.input-tire-AVG {
  grid-area: input-tire-AVG;
}

.label-tire-AVD {
  grid-area: label-tire-AVD;
}

.input-tire-AVD {
  grid-area: input-tire-AVD;
}

.input-tires-AV {
  grid-area: input-tires-AV;
}

.area-tires-AR {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "label-tire-ARG input-tire-ARG label-tire-ARD input-tire-ARD"
    "input-tires-AR input-tires-AR input-tires-AR input-tires-AR";
  grid-area: area-tires-AR;
}

.label-tire-ARG {
  grid-area: label-tire-ARG;
}

.input-tire-ARG {
  grid-area: input-tire-ARG;
}

.label-tire-ARD {
  grid-area: label-tire-ARD;
}

.input-tire-ARD {
  grid-area: input-tire-ARD;
}

.input-tires-AR {
  grid-area: input-tires-AR;
}

.label-brake-pads {
  grid-area: label-brake-pads;
}
.area-brake-pads-AV {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "label-brake-pads-AV input-brake-pads-AV"
    "input-ref-pads-AV input-ref-pads-AV";
  grid-area: area-brake-pads-AV;
}
.label-brake-pads-AV {
  grid-area: label-brake-pads-AV;
}
.input-brake-pads-AV {
  grid-area: input-brake-pads-AV;
}
.input-ref-pads-AV {
  grid-area: input-ref-pads-AV;
}
.area-brake-pads-AR {
  display: grid;
  grid-template-columns: 0.25fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "label-brake-pads-AR input-brake-pads-AR"
    "input-ref-brake-pads-AR input-ref-brake-pads-AR";
  grid-area: area-brake-pads-AR;
}
.label-brake-pads-AR {
  grid-area: label-brake-pads-AR;
}
.input-brake-pads-AR {
  grid-area: input-brake-pads-AR;
}
.input-ref-brake-pads-AR {
  grid-area: input-ref-brake-pads-AR;
}

.label-brake-disks {
  grid-area: label-brake-disks;
}
.area-brake-disks-AV {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "label-brake-disks-AV input-brake-disks-AV"
    "input-ref-disks-AV input-ref-disks-AV";
  grid-area: area-brake-disks-AV;
}
.label-brake-disks-AV {
  grid-area: label-brake-disks-AV;
}
.input-brake-disks-AV {
  grid-area: input-brake-disks-AV;
}
.input-ref-disks-AV {
  grid-area: input-ref-disks-AV;
}
.area-brake-disks-AR {
  display: grid;
  grid-template-columns: 0.25fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "label-brake-disks-AR input-brake-disks-AR"
    "input-ref-brake-disks-AR input-ref-brake-disks-AR";
  grid-area: area-brake-disks-AR;
}
.label-brake-disks-AR {
  grid-area: label-brake-disks-AR;
}
.input-brake-disks-AR {
  grid-area: input-brake-disks-AR;
}
.input-ref-brake-disks-AR {
  grid-area: input-ref-brake-disks-AR;
}

.label-oil-change {
  grid-area: label-oil-change;
}
.area-oil-change {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "input-oil-change input-ref-oil-change";
  grid-area: area-oil-change;
}
.input-oil-change {
  grid-area: input-oil-change;
}
.input-ref-oil-change {
  grid-area: input-ref-oil-change;
}

.label-oil-filter {
  grid-area: label-oil-filter;
}
.area-oil-filter {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "input-oil-filter input-ref-oil-filter";
  grid-area: area-oil-filter;
}
.input-oil-filter {
  grid-area: input-oil-filter;
}
.input-ref-oil-filter {
  grid-area: input-ref-oil-filter;
}

.label-air-filter {
  grid-area: label-air-filter;
}
.area-air-filter {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "input-air-filter input-ref-air-filter";
  grid-area: area-air-filter;
}
.input-air-filter {
  grid-area: input-air-filter;
}
.input-ref-air-filter {
  grid-area: input-ref-air-filter;
}

.label-fuel-filter {
  grid-area: label-fuel-filter;
}
.area-fuel-filter {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "input-fuel-filter input-ref-fuel-filter";
  grid-area: area-fuel-filter;
}
.input-fuel-filter {
  grid-area: input-fuel-filter;
}
.input-ref-fuel-filter {
  grid-area: input-ref-fuel-filter;
}

.label-cabin-filter {
  grid-area: label-cabin-filter;
}
.area-cabin-filter {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "input-cabin-filter input-ref-cabin-filter";
  grid-area: area-cabin-filter;
}
.input-cabin-filter {
  grid-area: input-cabin-filter;
}
.input-ref-cabin-filter {
  grid-area: input-ref-cabin-filter;
}

.center {
  text-align: center;
}

.formatted-date {
  font-weight: bold;
  color: var(--date-color);
}
img {
  width: 100%; /* Pour occuper 100% de la largeur de son conteneur (60% de la page) */
  height: auto; /* Ajuste automatiquement la hauteur tout en conservant les proportions */
  margin-top: 20px; /* Ajoutez un espacement supplémentaire en haut de l'image */
}
/* Media query for screens with a maximum width of 600 pixels */
@media (max-width: 600px) {
  .card-wrapper {
    padding: 90px 0px;
  }
  .card {
    width: 100%;
    padding: 15px;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "label-date input-date"
      "label-mileage input-mileage"
      "label-tires area-tires-AV"
      "label-tires area-tires-AR"
      "label-brake-pads area-brake-pads-AV"
      "label-brake-pads area-brake-pads-AR"
      "label-brake-disks area-brake-disks-AV"
      "label-brake-disks area-brake-disks-AR"
      "label-oil-change area-oil-change"
      "label-oil-filter area-oil-filter"
      "label-air-filter area-air-filter"
      "label-fuel-filter area-fuel-filter"
      "label-cabin-filter area-cabin-filter";
    align-items: center;
    text-align: left;
  }
}
